/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: poppins, sans-serif;
  background-color: #fffefeaf;
  color: #333;
}

/* Navbar */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Nav-menu */
.nav-menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

/* Nav-menu li a */
.nav-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

/* Hover Effekt */
.nav-menu li a:hover {
  color: #00bcd4;
}

/* animation */
.animation {
  display: flex;
  justify-content: center;
}